.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-box {
    width: 660px;
    height: 70px;
    padding: 25px;
    font-size: 16px;
    border: 2px solid black; 
    background-color: white; 
    color: black; 
    outline: none; 
    border-radius: 30px; 
    
  }
  
  .input-box:focus {
    border-color: black; 
  }
  
  .suggestions-box {
    width: 300px;
    position: absolute;
    z-index: 1;
  }
  
  .suggestions-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f1f1f1;
  }
  
  button {
    width: 443px;
    height: 65px;
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 30px;
  }
  
  button:hover {
    background-color: #302e2e;
    border: none;
  }
  